$palette-1: #2cadda;
$palette-1-safe: #2cadda;
$palette-1-text: #fff;

$palette-2: #4ac3e4;
$palette-2-safe: #4ac3e4;
$palette-2-text: #fff;

$palette-3: #abdce8;
$palette-3-safe: #abdce8;
$palette-3-text: #fff;

$palette-4: #58595b;
$palette-4-safe: #58595b;
$palette-4-text: #fff;

$palette-5: #dadada;
$palette-5-safe: #dadada;
$palette-5-text: #fff;

$override-base-font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, Tahoma;

@import '../bootstrap';
